.pc .header {
  height: var(--height-header);
  padding: 18px 0 24px; }
  .pc .header .header__logo {
    height: 6rem; }
  .pc .header .header__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }
    .pc .header .header__wrapper .header__brand .brand__link img {
      height: 3rem; }
    .pc .header .header__wrapper .header__list {
      display: flex;
      line-height: 0;
      align-items: flex-start;
      margin-top: 8px; }
      .pc .header .header__wrapper .header__list .header__item {
        display: flex; }
        .pc .header .header__wrapper .header__list .header__item .header__link {
          margin: 0 4px; }
      .pc .header .header__wrapper .header__list .header__item:nth-child(3) {
        margin-top: -2px; }
.pc .menu {
  padding: 12px 0; }
  .pc .menu .menu__list {
    display: flex; }
    .pc .menu .menu__list .menu__item {
      width: 16.6667%;
      text-align: center;
      position: relative; }
      .pc .menu .menu__list .menu__item::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        border-left: 1px solid #000; }
      .pc .menu .menu__list .menu__item:last-child::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        border-left: 1px solid #000; }
      .pc .menu .menu__list .menu__item .menu__link {
        display: block;
        padding: 16px 12px;
        font-size: 1.6rem;
        color: #000;
        font-weight: normal; }
.pc .banner__wrapper {
  background-color: #b4bcc2;
  height: 40rem; }
  .pc .banner__wrapper .banner__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40rem; }
    .pc .banner__wrapper .banner__content .banner__text {
      background-color: #434151;
      color: #fff;
      font-size: 2.1rem;
      font-weight: 300;
      padding: 0px 12px;
      line-height: 1.2; }
    .pc .banner__wrapper .banner__content .banner__heading {
      color: #fff;
      font-size: 9.7rem;
      font-weight: 300;
      line-height: 0.8;
      padding: 20px 0; }
    .pc .banner__wrapper .banner__content .banner__collect {
      font-size: 4rem;
      font-weight: 300;
      color: #434151;
      line-height: 0;
      margin-top: 12px; }
  .pc .banner__wrapper .banner__models {
    display: flex;
    height: 100%;
    width: 90%; }
    .pc .banner__wrapper .banner__models .model__item {
      flex: 1;
      height: 100%; }
      .pc .banner__wrapper .banner__models .model__item img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
.pc .about {
  padding: 48px 0 100px;
  text-align: center; }
  .pc .about .about__text {
    font-size: 1.6rem;
    line-height: 1.8;
    font-weight: 400; }
.pc .collect .collect__img {
  height: 60rem;
  position: relative; }
  .pc .collect .collect__img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .pc .collect .collect__img .prev {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%); }
  .pc .collect .collect__img .next {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%); }
  .pc .collect .collect__img .collect__control {
    position: absolute;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%); }
    .pc .collect .collect__img .collect__control .control__btn {
      padding: 4px;
      background: #cad1d7;
      border-radius: 50%;
      border: none;
      margin: 0 8px; }
.pc .collect .collect__wrapper {
  padding: 0 36px; }
  .pc .collect .collect__wrapper .collect__title {
    font-size: 2.4rem;
    color: #fff;
    font-weight: 300;
    background-color: #c9c8cd;
    display: inline-block;
    padding: 0px 4px; }
  .pc .collect .collect__wrapper .collect__heading {
    padding: 24px 0; }
  .pc .collect .collect__wrapper .collect__text {
    font-size: 1.6rem;
    font-weight: 500; }
  .pc .collect .collect__wrapper .collect__list {
    padding: 20px 0; }
  .pc .collect .collect__wrapper .collect__id {
    font-size: 1.4rem; }
  .pc .collect .collect__wrapper .collect2__id {
    padding-top: 100px; }
  .pc .collect .collect__wrapper .collect__sub {
    display: flex;
    align-items: flex-end;
    padding: 24px 0; }
    .pc .collect .collect__wrapper .collect__sub span {
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2;
      margin-left: 8px; }
  .pc .collect .collect__wrapper .collect__price {
    font-size: 1.2rem; }
    .pc .collect .collect__wrapper .collect__price .price {
      font-size: 3rem; }
    .pc .collect .collect__wrapper .collect__price .price-old {
      font-size: 2rem; }
  .pc .collect .collect__wrapper .collect__control {
    padding-top: 8px;
    display: flex; }
    .pc .collect .collect__wrapper .collect__control .collect__link {
      margin-right: 8px; }
.pc .material {
  margin: 48px 0; }
  .pc .material .material__wrapper {
    padding: 75px 70px;
    background-color: #eef2f5;
    text-align: center;
    border-radius: 12px; }
    .pc .material .material__wrapper .material__heading {
      font-size: 3.8rem;
      text-align: center; }
    .pc .material .material__wrapper .material__text {
      font-size: 1.6rem;
      padding: 50px 0;
      text-align: left; }
    .pc .material .material__wrapper img {
      width: 90%; }
.pc .brand {
  margin-bottom: 9.4rem; }
  .pc .brand .brand__wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: #dee5ea;
    border-radius: 12px; }
    .pc .brand .brand__wrapper .brand__container {
      padding-top: 12px;
      text-align: center; }
      .pc .brand .brand__wrapper .brand__container .brand__autumn {
        text-align: center;
        color: #fff;
        background-color: #282c34;
        padding: 4px 8px;
        width: 70%;
        font-size: 2.1rem;
        font-weight: 300;
        margin: 0 auto;
        line-height: 1; }
      .pc .brand .brand__wrapper .brand__container img {
        width: 70%;
        height: 66px;
        object-fit: contain; }
.pc .collect3 {
  margin: 9.4rem 0; }
  .pc .collect3 .collect3__id {
    padding-top: 70px; }
.pc .brand__wrapper2 {
  background-color: #c3ccd3 !important; }
  .pc .brand__wrapper2 .brand__container #coat__brand {
    width: 100%; }
.pc .footer {
  background-color: #f2f2f2; }
  .pc .footer .f__list {
    display: flex;
    align-items: center;
    padding-top: 12px; }
    .pc .footer .f__list .f__item {
      padding: 12px;
      position: relative; }
      .pc .footer .f__list .f__item::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 50%;
        transform: translateY(50%);
        border-left: 1px solid #000; }
      .pc .footer .f__list .f__item:last-child:before {
        content: "";
        position: absolute;
        display: none; }
      .pc .footer .f__list .f__item .f__link {
        display: block;
        line-height: 0; }
        .pc .footer .f__list .f__item .f__link img {
          width: 100%;
          height: 100%; }
  .pc .footer .f__logo {
    width: 40%;
    margin-top: 36px; }
    .pc .footer .f__logo img {
      width: 100%;
      height: 100%; }
  .pc .footer .f__right {
    width: 100%;
    text-align: right; }
    .pc .footer .f__right img {
      width: 100%;
      height: 100%; }
    .pc .footer .f__right #f__img {
      width: 30%; }

.scroll {
  position: fixed;
  right: 12px;
  bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  transform-origin: center;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s linear; }
  .scroll img {
    width: 50%;
    height: 100%; }

.active {
  opacity: 1;
  transform: scale(1);
  transition: all 0.4s linear; }
