.mobile .header {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  position: relative; }
  .mobile .header .header__wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .mobile .header .header__menu .menu__btn {
    display: inline-block;
    text-align: right; }
    .mobile .header .header__menu .menu__btn img {
      width: 70%;
      height: 100%;
      object-fit: contain; }
  .mobile .header .header__menu #menu__mobile:checked ~ .menu__mobile__wrapper {
    height: 50vh;
    opacity: 1;
    transition: all 0.4s linear; }
  .mobile .header .header__menu .menu__mobile__wrapper {
    position: absolute;
    top: 6.4rem;
    right: 0;
    left: 0;
    height: 0;
    opacity: 0;
    background-color: #fff;
    z-index: 1;
    transition: all 0.4s linear;
    border-bottom: 1px solid #e6e6e6; }
    .mobile .header .header__menu .menu__mobile__wrapper .menu__mobile__list .menu__mobile__item {
      border-bottom: 1px solid #e6e6e6; }
      .mobile .header .header__menu .menu__mobile__wrapper .menu__mobile__list .menu__mobile__item .menu__mobile__link {
        display: block;
        padding: 6px 12px;
        font-size: 1.6rem;
        color: #000;
        text-decoration: none; }
        .mobile .header .header__menu .menu__mobile__wrapper .menu__mobile__list .menu__mobile__item .menu__mobile__link:hover {
          text-decoration: underline; }
.mobile .banner img {
  width: 100%;
  height: 100%;
  object-fit: contain; }
.mobile .about {
  padding: 24px 0 18px; }
  .mobile .about .about__heading {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    width: 90%;
    margin: 0 auto; }
.mobile .collect {
  margin-top: 24px; }
  .mobile .collect .collect__img {
    position: relative;
    height: 375px;
    width: 90%;
    margin: 0 auto; }
    .mobile .collect .collect__img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .mobile .collect .collect__img .collect__btn img {
      height: 50px; }
    .mobile .collect .collect__img .prev {
      position: absolute;
      top: 50%;
      left: 6px;
      transform: translateY(-50%);
      background: transparent;
      border: none; }
    .mobile .collect .collect__img .next {
      position: absolute;
      top: 50%;
      right: 6px;
      transform: translateY(-50%);
      background: transparent;
      border: none; }
    .mobile .collect .collect__img .collect__control {
      position: absolute;
      bottom: -24px;
      left: 50%;
      transform: translateX(-50%); }
      .mobile .collect .collect__img .collect__control .control__btn {
        padding: 4px;
        background: #cad1d7;
        border-radius: 50%;
        border: none;
        margin: 0 8px; }
  .mobile .collect .collect__wrapper {
    width: 90%;
    margin: 8.6rem auto 0; }
    .mobile .collect .collect__wrapper .collect__content {
      color: #fff;
      background-color: #c9c8cd;
      font-size: 1.6rem;
      line-height: 0;
      padding: 4px 12px;
      display: inline; }
    .mobile .collect .collect__wrapper .collect__heading {
      width: 50%;
      padding: 16px 0 12px; }
      .mobile .collect .collect__wrapper .collect__heading img {
        width: 100%;
        height: 100%; }
    .mobile .collect .collect__wrapper .collect__text {
      font-size: 1.2rem;
      font-weight: 600; }
    .mobile .collect .collect__wrapper .collect__list {
      display: block;
      padding: 16px 0; }
      .mobile .collect .collect__wrapper .collect__list img {
        width: 100%;
        height: 100%; }
    .mobile .collect .collect__wrapper .collect__id {
      font-size: 1rem; }
    .mobile .collect .collect__wrapper .collect__sub {
      display: flex;
      align-items: flex-end; }
      .mobile .collect .collect__wrapper .collect__sub img {
        width: 56px; }
      .mobile .collect .collect__wrapper .collect__sub .collect__sub__text {
        font-size: 1.5rem;
        font-weight: 600;
        margin-left: 4px; }
    .mobile .collect .collect__wrapper .collect__price {
      font-size: 0.8rem; }
      .mobile .collect .collect__wrapper .collect__price .price {
        font-size: 2rem;
        font-weight: 600; }
      .mobile .collect .collect__wrapper .collect__price .price-old {
        font-size: 1.4rem;
        font-weight: 500; }
    .mobile .collect .collect__wrapper .collect__btn .collect__link img {
      width: 100%; }
.mobile .material {
  background-color: #eef2f5;
  border-radius: 8px;
  width: 90%;
  margin: 36px auto 0;
  padding: 16px; }
  .mobile .material .material__heading {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center; }
  .mobile .material .material__text {
    padding-top: 16px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left; }
  .mobile .material img {
    width: 100%;
    height: 100%;
    padding-top: 12px; }
.mobile .brand {
  background-color: #dee5ea;
  position: relative;
  border-radius: 8px;
  width: 90%;
  margin: 24px auto 0; }
  .mobile .brand .brand__link {
    display: block;
    padding: 16px;
    text-decoration: none; }
    .mobile .brand .brand__link .brand__heading {
      background-color: #434151;
      color: #fff;
      font-weight: 1.3rem;
      text-align: center; }
    .mobile .brand .brand__link .brand__name {
      color: #fff;
      font-size: 2.2rem;
      text-align: center;
      line-height: 1;
      padding-top: 8px; }
    .mobile .brand .brand__link .brand__text {
      font-size: 1.2rem;
      font-weight: 500;
      text-align: center; }
    .mobile .brand .brand__link .brand__btn {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: -8px;
      transform: translateY(-40%); }
      .mobile .brand .brand__link .brand__btn img {
        width: 60%;
        height: 100%; }
.mobile .footer {
  background-color: #f2f2f2;
  padding: 16px;
  margin-top: 24px; }
  .mobile .footer .f__list .f__item {
    border-bottom: 1px solid #e6e6e6; }
    .mobile .footer .f__list .f__item .f__link {
      display: block;
      padding: 4px 0; }
      .mobile .footer .f__list .f__item .f__link img {
        width: 100%;
        height: 100%; }
  .mobile .footer .f__contact img {
    width: 100%;
    height: 100%; }
  .mobile .footer .f__address {
    width: 90%;
    margin-left: 4%; }
    .mobile .footer .f__address img {
      width: 100%;
      height: 100%; }
  .mobile .footer .f__gov {
    width: 50%;
    margin-left: 50%; }
    .mobile .footer .f__gov img {
      width: 70%;
      height: 100%; }
